# backup files from vim
*~
.vim/backups
.vim/swaps
.vim/.netrwhist

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
._*

# Things that might be sensitive
.extra
