[submodule ".vim/plugin/gist-vim"]
	path = .vim/plugin/gist-vim
	url = http://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/grails.vim"]
	path = .vim/bundle/grails.vim
	url = git://github.com/felipero/grails-vim.git
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule ".vim/bundle/css-color.vim"]
	path = .vim/bundle/css-color.vim
	url = git://github.com/gf3/vim-css-color.git
[submodule ".vim/bundle/coffeescript.vim"]
	path = .vim/bundle/coffeescript.vim
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-git.vim"]
	path = .vim/bundle/vim-git.vim
	url = git://github.com/tpope/vim-git.git
[submodule ".vim/bundle/jquery.vim"]
	path = .vim/bundle/jquery.vim
	url = git://github.com/itspriddle/vim-jquery.git
[submodule "gitprompt"]
	path = gitprompt
	url = git://github.com/lvv/git-prompt.git
